body{
	margin: 0;
	padding: 0;
}
section{
	font-size:4rem;
	position:relative;
	height:100vh;
	margin-top: 0;
	display: flex;
	align-items:center;
	justify-content:center;
	

	
}





section:nth-child(odd){
		color:white;
	  background-color: #b61924;

}

